!!! 5
html
	head
		meta(charset="utf8")
		title MateScript
		link(rel="stylesheet", href="/s/matescript.css")
		script(src="http://code.jquery.com/jquery-1.10.1.min.js")
		script(src="http://code.jquery.com/jquery-migrate-1.2.1.min.js")
	body
		h1 MateScript
		= content
		script(src="/j/matescript-markup.js")